NewFiWebApp/NewfiMuleFlow/src/main/app/NexeraAuthMuleFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/current/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
	<cxf:configuration name="CXF_AUTH_Configuration"
		enableMuleSoapHeaders="true" initializeStaticBusInstance="true"
		doc:name="CXF Configuration" />

	

<https:connector name="HttpConnector" clientSoTimeout="120000"
  cookieSpec="netscape" doc:name="HTTP-HTTPS" receiveBacklog="0"
  receiveBufferSize="0" sendBufferSize="0" serverSoTimeout="120000"
  socketSoLinger="0" validateConnections="true">
	<https:tls-key-store path="keystore.jks" keyPassword="raremile123" storePassword="raremile123"/>

 </https:connector>
 <http:connector name="HttpConnectors" clientSoTimeout="120000"
  cookieSpec="netscape" doc:name="HTTP-HTTPS" receiveBacklog="0"
  receiveBufferSize="0" sendBufferSize="0" serverSoTimeout="120000"
  socketSoLinger="0" validateConnections="true">
		<reconnect />

 </http:connector>

	<spring:beans>
		<spring:import resource="classpath:spring/spring-context.xml" />
	</spring:beans>
	<catch-exception-strategy name="Catch_Exception_Strategy">
		<component doc:name="Java">
			<spring-object bean="exceptionProcessor" />
		</component>
	</catch-exception-strategy>

	<flow name="NexeraAuthMuleFlowFlow">
		<http:inbound-endpoint address="http://0.0.0.0:8181/authCall"
			exchange-pattern="request-response" doc:name="HTTP" connector-ref="HttpConnectors"
			responseTimeout="120000">
		</http:inbound-endpoint>
		<component doc:name="Java">
			<spring-object bean="authenticationRestInterceptor" />
		</component>
		<message-properties-transformer
			doc:name="Message Properties">
			<add-message-property key="http.version" value="HTTP/1.0" />
		</message-properties-transformer>
		<choice doc:name="Choice">
			<when expression="#[message.outboundProperties.'opName'=='GetUserAuthTicket']">
				<cxf:jaxws-client operation="GetUserAuthTicket"
					clientClass="com.lendersoffice.los.webservices.AuthService" port="AuthServiceSoap"
					wsdlLocation="https://webservices.lendingqb.com/los/webservice/Authservice.asmx?WSDL"
					doc:name="CXF">
					<cxf:inInterceptors>
						<spring:ref bean="loggingInInterceptor" />
					</cxf:inInterceptors>
					<cxf:outInterceptors>
						<spring:ref bean="loggingOutInterceptor"/>
					</cxf:outInterceptors>
				</cxf:jaxws-client>
			
				<https:outbound-endpoint exchange-pattern="request-response"
					method="POST"
					address="https://webservices.lendingqb.com/los/webservice/authservice.asmx"
					doc:name="HTTP" responseTimeout="120000" 
					connector-ref="NoSessionConnector">
					<logger message="Payload is #[message]" level="INFO" />
					<message-properties-transformer>
						<delete-message-property key="cookies" />
					</message-properties-transformer>
				</https:outbound-endpoint>
			</when>
			<when
				expression="#[message.outboundProperties.'opName'=='GetPmlUserAuthTicket']">
				<cxf:jaxws-client operation="GetPmlUserAuthTicket"
					clientClass="com.lendersoffice.los.webservices.AuthService" port="AuthServiceSoap"
					wsdlLocation="https://webservices.lendingqb.com/los/webservice/Authservice.asmx?WSDL"
					doc:name="CXF">
					<cxf:inInterceptors>
						<spring:bean class="org.apache.cxf.interceptor.LoggingInInterceptor" />
					</cxf:inInterceptors>
					<cxf:outInterceptors>
						<spring:bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
					</cxf:outInterceptors>
				</cxf:jaxws-client>
				<https:outbound-endpoint exchange-pattern="request-response"
					method="POST"
					address="https://webservices.lendingqb.com/los/webservice/Authservice.asmx"
					doc:name="HTTP" responseTimeout="120000"
					connector-ref="NoSessionConnector">
					<message-properties-transformer>
						<delete-message-property key="cookies" />
					</message-properties-transformer>
				</https:outbound-endpoint>
			</when>
		</choice>
		<object-to-string-transformer doc:name="Object to String" />
		<component doc:name="Java">
			<spring-object bean="newFiTicketProcessor" />
		</component>
		<exception-strategy ref="Catch_Exception_Strategy"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
