NewFiWebApp/NewfiMuleFlow/src/main/app/NexeraAppViewMuleFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/current/mule-stdio.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
	<cxf:configuration name="CXF_APPVIEW_Configuration"
		enableMuleSoapHeaders="true" initializeStaticBusInstance="true"
		doc:name="CXF Configuration" />
	
	<spring:beans>
		<spring:import resource="classpath:spring/spring-context.xml" />
	</spring:beans>

	<flow name="NexeraAppViewMuleFlow" doc:name="NexeraAppViewMuleFlow">
		<http:inbound-endpoint address="http://0.0.0.0:8383/appViewCall"
			exchange-pattern="request-response" doc:name="HTTP" connector-ref="HttpConnector"
			responseTimeout="120000" >
		</http:inbound-endpoint>
		<component doc:name="Java">
			<spring-object bean="appViewRestInterceptor" />
		</component>
		<message-properties-transformer>
			<add-message-property key="http.version" value="HTTP/1.0" />
		</message-properties-transformer>
		<choice doc:name="Choice">
			<when expression="#[message.outboundProperties.'opName'=='GetPmlLoanUrl']">
				<cxf:jaxws-client operation="GetPmlPipelineUrl"
					clientClass="com.lendersoffice.los.webservices.AppView" port="AppViewSoap"
					wsdlLocation="https://webservices.lendingqb.com/los/webservice/AppView.asmx?WSDL"
					doc:name="CXF">
					
				</cxf:jaxws-client>
				<https:outbound-endpoint exchange-pattern="request-response"
					method="POST"
					address="https://webservices.lendingqb.com/los/webservice/AppView.asmx"
					doc:name="HTTP" responseTimeout="120000" 
					connector-ref="NoSessionConnector">
					<message-properties-transformer>
						<delete-message-property key="cookies" />
					</message-properties-transformer>
				</https:outbound-endpoint>
			</when>
			<when expression="#[message.outboundProperties.'opName'=='GetPmlPipelineUrl']">
				<cxf:jaxws-client operation="GetPmlPipelineUrl"
					clientClass="com.lendersoffice.los.webservices.AppView" port="AppViewSoap"
					wsdlLocation="https://webservices.lendingqb.com/los/webservice/AppView.asmx?WSDL"
					doc:name="CXF">
					
				</cxf:jaxws-client>

				<https:outbound-endpoint exchange-pattern="request-response"
					method="POST"
					address="https://webservices.lendingqb.com/los/webservice/AppView.asmx"
					doc:name="HTTP" responseTimeout="120000" 
					connector-ref="NoSessionConnector">
					<message-properties-transformer>
						<delete-message-property key="cookies" />
					</message-properties-transformer>
				</https:outbound-endpoint>
			</when>
			<when expression="#[message.outboundProperties.'opName'=='GetViewDesktopUrl']">
				<cxf:jaxws-client operation="GetViewDesktopUrl"
					clientClass="com.lendersoffice.los.webservices.AppView" port="AppViewSoap"
					wsdlLocation="https://webservices.lendingqb.com/los/webservice/AppView.asmx?WSDL"
					doc:name="CXF">
					
				</cxf:jaxws-client>

				<https:outbound-endpoint exchange-pattern="request-response"
					method="POST"
					address="https://webservices.lendingqb.com/los/webservice/AppView.asmx"
					doc:name="HTTP" responseTimeout="120000"
					connector-ref="NoSessionConnector">
					<message-properties-transformer>
						<delete-message-property key="cookies" />
					</message-properties-transformer>
				</https:outbound-endpoint>
			</when>
			<when expression="#[message.outboundProperties.'opName'=='GetViewLoanUrl']">
				<cxf:jaxws-client operation="GetViewLoanUrl"
					clientClass="com.lendersoffice.los.webservices.AppView" port="AppViewSoap"
					wsdlLocation="https://webservices.lendingqb.com/los/webservice/AppView.asmx?WSDL"
					doc:name="CXF">
					
				</cxf:jaxws-client>

				<https:outbound-endpoint exchange-pattern="request-response"
					method="POST"
					address="https://webservices.lendingqb.com/los/webservice/AppView.asmx"
					doc:name="HTTP" responseTimeout="120000"
					connector-ref="NoSessionConnector">
					<message-properties-transformer>
						<delete-message-property key="cookies" />
					</message-properties-transformer>
				</https:outbound-endpoint>
			</when>
		</choice>
		<object-to-string-transformer doc:name="Object to String" />
		<component doc:name="Java">
			<spring-object bean="newFiResponseProcessor" />
		</component>
		<exception-strategy ref="Catch_Exception_Strategy"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
